<%- include('../partials/header') %>
<div class="main center">
    <img src="/img/us.jpg" class="front-img" alt="money bags">
    <h1 class="front-text">WE WANT <span class="red">YOU</span> TO DEPOSIT!</h1>
</div>
<%- include('../partials/footer') %>
