    <div class="footer navbar-fixed-bottom">
        <p>&copy; All rights reserved.
            En del utav kursmaterialet i DV1616, Informationssäkerhet med webbtillämpningar.
        </p>
        <p>
            Underhållsansvarig <a href="https://www.bth.se/staff/marie-grahn-grm/">Marie Grahn</a>,
            med <a href="https://dbwebb.se/" target="_blank" rel="noopener noreferrer">dbwebb</a> som backup.
        </p>
    </div>
</body>
</html>
