<%- include('../partials/header') %>
<main class="main">
    <div class="d-flex flex-column justify-content-center mt-4">
    <%- include('../partials/forms/signup') %>
    </div>
</main>
<%- include('../partials/footer') %>